*.db
daemon/log/main/*
daemon/log/supervise
daemon/supervise
daemon/down
custom_modules/*
pictures/*
.idea
/*.ini
__pycache__
venv

!daemon/log/main/.gitkeep
!custom_modules/.gitkeep
!pictures/.gitkeep
!/_config.ini

!custom_modules/rpghelper