#view_debug .message_bubble {
    max-width: 400px;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 8px;
    margin-bottom: 10px;
    position: relative;
}
#view_debug .keyboard {
    max-width: 406px;
    padding: 7px;
    border: 1px solid gray;
    border-radius: 8px;
    margin-bottom: 5px;
    background: lightgoldenrodyellow;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
}
#view_debug .message_json {
    display: none;
    position: absolute;
    background: white;
    top: 0;
    left: 100%;
    padding: 10px;
    font-size: 0.8em;
    border: 1px solid;
    width: 600px;
    overflow: auto;
}
#view_debug .message_bubble:hover .message_json {
    display: block;
}
#view_debug .keyboard:hover {
    background: yellow;
}
#view_debug p:first-child {
    margin-top: 0;
}
#view_debug p:last-child {
    margin-bottom: 0;
}
#view_debug img {
    width: 100%;
}
#view_debug form {
    max-width: 400px;
    background: lightgray;
    padding: 10px;
    border-top: 2px dashed;
    margin: 20px 0 0 0;
}
#view_debug dd {
    margin: 0 0 20px;
}
#view_debug dd > textarea,
#view_debug dd > input,
#view_debug dd > select {
    width: 100%;
    padding: 5px;
}
#view_debug dt {
    margin-bottom: 5px;
}

#view_debug textarea {
    height: 80px;
}

#view_debug input[type=submit] {
    padding: 5px 30px;
    margin: auto;
    display: block;
}

#view_debug #info {
    max-width: 420px;
    text-align: right;
    color: gray;
    font-size: 0.9em;
    position: relative;
}

#view_debug #info_hover {
    display: none;
    position: absolute;
    background: white;
    top: 0;
    left: 100%;
    text-align: left;
    white-space: nowrap;
    border: 1px solid black;
}

#view_debug #info_hover ul {
    margin: 0;
    padding: 10px 10px 10px 30px;
}

#view_debug #info:hover {
    color: black;
}

#view_debug #info:hover #info_hover {
    display: block;
}